*
!Dockerfile
!NuGet.config
!packages/
!packages/games/
!packages/games/**
!FortuneForge.Server/
!FortuneForge.Server/**
!FortuneForge.ServiceDefaults/
!FortuneForge.ServiceDefaults/**

**/bin/
**/obj/
**/*.user
**/*.suo
