*
!Dockerfile
!NuGet.config
!Directory.Build.props
!games/
!games/**
!FortuneForge.Server/
!FortuneForge.Server/**
!FortuneForge.ServiceDefaults/
!FortuneForge.ServiceDefaults/**

**/bin/
**/obj/
**/*.user
**/*.suo
